* {
  margin: 3px;
  padding: 0px;
}

body {
  font-size: 18px;
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 40px;
  background-color: black;
  color: aliceblue;
}

.container {
  background-color: azure;
  border-radius: 20px;
  padding: 10px;
  margin: auto;
  width: 50%;
  height: 570px;
  text-align: center;
}

h1 {
  padding: 20px;
  margin: 20px auto;
  width: 80%;
}

.conteudo {
  border-radius: 20px;
  background-image: linear-gradient(to right, #1f4b63, #48b0e8);
  min-height: 93%;
  margin: auto;
  padding: 20px;
  box-shadow: 2px 2px 2px rgb(2, 1, 1);
}

.bnt {
  display: block;
  margin: auto;
  min-width: 10%;
  padding: 10px 15px;
  background: #262626;
  color: #fff;
  border-radius: 50px;
}

.bnt:hover {
  background-color: #fff;
  color: #262626;
}

img {
  border-radius: 50%;
  background-color: white;
  margin: 10px auto;
  width: 100px;
  height: 100px;
  display: block;
}



#my-form input[type="email"] {
  width: 80%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #1f4b63;
}

#my-form input[type="text"] {
  width: 80%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #1f4b63;
}
